<%- include('partials/header') -%>
<%- include('partials/navigation-bar') -%>
<div>
    <%- include('partials/userProfile', {username, discriminator, guild, verification, twitch, userID, userAvatar}) -%>
</div>
<%- include('partials/footer') -%>