<%- include('partials/header') -%>
<div class="my-button">
    <form action="/auth">
        <button class="button is-primary is-large is-rounded custom-button" type="submit">Login with Discord</button>
    </form>
</div>
<%- include('partials/footer') -%>